body{
    background-image: linear-gradient(
    rgb(188,157,165),
    rgb(142,97,128)
    );
    height: 100vh;
    color: white;
    font-family:sans-serif;
    display: flex;
  flex-direction: column;
  align-items: center;
   
}

#abaixocapa{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
      margin: 1em 0 1em 0;
}

#botaos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.button {
    font-size: 1.5em;
}
.button-navegasao{
    font-size: 2em;
}
.button-biggest{
    font-size: 3.5em;  
    
}
#capa{
    width: 450px;
      margin: 0 0 2em 0;
}

#playlist-titulo{
    display : flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 0 4em 0;
}

#nome-da-musica{
    font-weight: 1.5em;
    font-weight: bolder;
}
 #nome-do-cantor{
    font-size: 1em ;
    color : rgb (139, 153, 156)
   
 }