body{
    background-image: linear-gradient(
    rgb(188,157,165),
    rgb(142,97,128)
    );
    height: 100vh;
    color: white;
    font-family:sans-serif;
    display: flex;
  flex-direction: column;
  align-items: center;
   
}

#abaixocapa{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
      margin: 0 0 4em 0;
}

#botãos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.button {
    font-size: 1.5em;
}
.button-navegasao{
    font-size: 2em;
}
.button-biggest{
    font-size: 3.5em;  
    
}
#capa{
    width: 450px;
}

#playlist-titulo{
    display : flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 0 4em 0;
}